/* website font-family */

.open-sans-web-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;

}
.nav-links{
    display: flex;
    gap: 20px;
     
}
nav ul li a{
    color: black;
    font-size: 1.2rem;
}
.site-name{
    font-size: 2rem;
}
/* header style */
.primary-background{
    background-color: rgba(229, 84, 115, 0.1);
}
 
/* shared style */
.section-width{
    max-width: 1080px;
    margin: 0 auto;

}
.btn{
    background-color: #E55473;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 16px 35px;
    border: none;
    border-radius: 8px;

}
.site-margin{
    margin-bottom: 120px;
}
/* site title and Description */
.banner-title, .feature-title{
    color: #272727;
    font-size: 62px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 15px;
}

/* banner style */
.banner{
    display: flex;
    justify-content: center;
    gap: 50px;
    

}
.banner-content{
    width: 553px;
}
.hero-img{
    width: 495px;
}
/* feature flower section */
.feature-flower-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.feature-content{
    text-align: center;
}
.box-one{
    background-color:  rgba(167, 33, 98, 0.15);
    
}
.box-two{
    background-color: rgba(5, 151, 160, 0.15);
}
.box-three{
    background-color: rgba(71, 125, 17, 0.15);
}
.box-one, .box-two, .box-three{
    width: 385px;
    height: 480px;
    padding: 85px 60px 0 60px;
    text-align: center;
}